{% extends "base.html" %}
{% block title %}Forgot password{% endblock %}
{% block content %}
  <div class="log_sign_main_conteiner">
    <form method="POST" class="log_reg_box">
      <div class = "log_reg_name">
        <span class = "active_log_reg_name" style = "padding-left: 0;" onclick="window.location.href='/forgot_password'">Forgot_password</span>
      </div>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter email"
      />
      <div class = "submit">
        <button type="submit" class="main_button" style = "width: 100%;">Send message</button>
    </div>
    </form>
  </div>
{% endblock %}
