{% extends "base.html" %}
{% block title %}Additional information{% endblock %}
{% block content %}
<div class="FAQ_cont">
    <a>Additional information</a>
    <pre class="privacy_text">
        Seller:
        INDIVIDUAL ENTREPRENEUR SIDOROV MAXIM ANDREEVICH
        INN: 101601274674
        OGRNIP: 321302500034545
        
        Refund Policy:
        The refund is made only in case of a marriage. In this case,
        the product is replaced out of stock or a full refund is made. 
        To resolve issues with the refund, 
        please contact the post office support@aunkere.com 
        by specifying "Marriage" and your order number in the subject line.
        
        Support:
        support@tw1.com
    </pre>
</div>
{% endblock %}
