{% extends "base.html" %}
{% block title %}The offer agreement{% endblock %}
{% block content %}
<div class="FAQ_cont">
    <a>The offer agreement</a>
    <pre class = "privacy_text">
        1. Basic concepts and definitions:

        1.1. Seller – IP Sidorov Maxim Andreevich, OGRNIP 321302500034545;
        1.2. Public Offer – the Seller's public offer addressed to
        to an indefinite circle of persons, to conclude a contract with the 
        Seller for the purchase and sale of goods remotely 
        (hereinafter referred to as the "Contract");
        1.3. The Buyer is an individual using software for viewing content on 
        the Internet, accepting the terms of this Agreement and expressing a desire 
        to buy the product, information about which is posted on the website https://tw1.com /; 
        1.4. Product – Russian-made products offered for sale on the website https://tw1.com/;
        1.5. Online store – a website on the Internet located at
        https://tw1.com /, where any Buyer can get acquainted with the presented 
        Goods, their description and prices, select a specific Product, payment method, 
        form and send an Order to the Seller;
        1.6. Order – a completed Buyer's request for purchase, payment and
        delivery of the Product selected on the website https://tw1.com /, sent
        To the seller via the Internet;
        1.8. Delivery service – operator of the Russian postal network
        SDEK;
        1.9. Website – the Seller's website on the Internet, located at
        address https://tw1.com /.
        
        2. General provisions
        
        2.1. Ordering Goods on the website https://tw1.com / The Buyer agrees with the above 
        terms of sale of the Goods and accepts them. 
        2.2. These terms of sale of the Goods, 
        as well as information about the Goods provided on the website https://tw1.com /, 
        are a public offer in accordance with Articles 435 and paragraph 2 of Article 437 of the 
        Civil Code of the Russian Federation. 
        2.3. The Seller has the right to make changes 
        and additions to this Agreement, posted at https://tw1.com /, at the same time, such 
        changes take effect from the date of posting on the Seller's website. The buyer assumes
        obligations to monitor changes and additions made to this Agreement.
        The most current version of the Agreement is the version posted on the website
        The seller.
        2.4. By clicking the "Order" button when placing an Order on the website, the User
        Confirms its agreement with the terms of sale of the Goods set forth in this Agreement.
        The Agreement, and at the same time provides consent to the processing of personal data
        the data received when placing the Order.
        2.5. This Agreement is considered concluded from the moment of issue/dispatch
        By the Seller to the Buyer of a cash receipt confirming full payment of the goods, or
        from the moment the Seller receives a notification of the Buyer's intention to purchase
        the product by clicking the "Order" button.
        
        3. Subject of the agreement
        
        3.1. The Seller provides an opportunity for any individual to purchase for
        personal, family or other needs that are not related to the implementation of the Buyer
        Business activities, Products presented on the website
        https://tw1.com/.
        3.2. This Agreement applies to all types of Goods presented on the website
        https://tw1.com /, while such sentences with a description are present in
        the site's catalog.
        
        4. The order processing procedure
        
        4.1. Ordering in the Online store is carried out by the Buyer
        by yourself. When placing an Order, the Buyer fills out an electronic form
        The Order of the Goods and sends the generated Order to the Seller through the system
        the site.
        4.2. When registering on the Online store's website, the Buyer undertakes to provide
        the following registration information:
        4.2.1. surname, first name, patronymic of the Buyer or the person specified by 
        him (recipient);
        4.2.2. the address to which the Goods should be delivered (if the delivery is 
        to the address The buyer);
        4.2.3. e-mail address;
        4.2.4. Contact phone number.
        4.3. Name, quantity, assortment, price of the Product selected by the Buyer
        they are indicated in the Customer's shopping cart on the Online store's website.
        4.4. The Seller is not responsible for the content and accuracy of the information,
        provided by the Buyer when placing the Order.
        4.5. The Buyer is responsible for the accuracy of the information provided
        information when placing an Order.
        4.6. Product descriptions and characteristics in the Online store contain basic and 
        reliable information about the Product.
        4.7. On all emerging issues related to properties and characteristics
        Of the Product, the Buyer can contact the Seller by sending
        e-mail messages support@tw1.com .
        4.8. Photos and product layouts presented on the website
        https://tw1.com /, created under special lighting conditions with
        using professional equipment, or adjusted in
        They are simple illustrations and may differ from the actual appearance 
        of the Product 
        under other observation conditions.
        4.9. The price of the Product is indicated on the website https://tw1.com / next 
        to the Product image.
        4.10. The Buyer can receive the Goods by delivery.
        4.11. The delivery of the Goods is carried out by agreement of the Buyer and the 
        Seller through the delivery service. Delivery time
        The product to the Buyer consists of the order processing time and the delivery 
        time. 
        4.12. Payment of the full cost of delivery is made at the expense of the Buyer. 
        4.13. The sale of Goods is carried out by 100% (One hundred percent) prepayment  
        the cost of the Product.
        4.14. Payment is made by using the payment system on the website. 
        4.15. Upon placing an order, the Buyer is provided with information via
        sending a letter to the e-mail address specified by the Buyer, then
        it is possible to activate the Notification Service on the Russian Post website
        https://www.pochta.ru/. The delivery time of the Goods can be changed by the Seller, 
        about which The buyer is notified by sending an email to the email address,
        specified by the Buyer.
        4.16. The Buyer receives notification of the order status by sending
        emails to the email address, then it is possible to activate the Notification Service
        on the website of the Russian Post https://www.pochta.ru /.
        
        5. The cost of the Product and payment methods
        
        5.1. The price of the Product presented on the website https://tw1.com /, specified in
        in rubles. 
        5.2. The price of the Product on the website https://tw1.com / can be changed
        By the seller unilaterally. At the same time, the price for the ordered by the Buyer
        The product is not subject to change, except in the cases specified in clause 5.3.
        5.3. The Seller has the right to provide discounts on the price of the Goods, in 
        accordance with the applicable laws
        Online store at the time of placing an Order for trading promotions. In the case
        provision of false (erroneous) information by the Buyer when placing an Order
        data, the Seller has the right to recalculate the amount when issuing and paying for the Goods
        the discount provided from the price of the Product.
        5.4. Payment for the Goods is made by Bank card when placing an Order on the website
        using a payment system..
        5.5. Payment for delivery is made by the Buyer with a bank card when
        placing an Order on the website using the payment system. 5.6. In the case of
        the Buyer's refusal of the Product, upon refund of the full payment amount to the Buyer,
        the amount paid by the Buyer, bank and other commissions paid by the Buyer in this regard, 
        are not compensated by the Seller.
        
        6. Warranty, Order cancellation, return of Goods and prepayment
        
        6.1. The warranty period for the Product is 3 (Three) days, calculated from the moment
        transfer of the Goods to the Buyer.
        6.2. The warranty applies only to manufacturing defects and does not
        applies to defects resulting from: mechanical
        damage (scratches, tears, scuffs, etc.); exposure to extreme
        temperatures, solvents, acids, water; improper use
        (operation); natural wear and tear.
        6.3. Order Cancellation Procedure:
        6.3.1. For instant cancellation of the Order, the Buyer must contact the Seller
        by sending a message to the post office support@tw1.com .
        6.3.2. The purchase and sale agreement is considered terminated automatically in the case of
        failure to receive full payment of the Order cost.
        6.4. Funds deposited by the Buyer from a bank card with
        using an electronic means of payment, returned within 30 days
        (Thirty) business days from the date of the Buyer's refusal of the Order/termination 
        of the contract for
        the personal account/bank card from which the Order was paid. Refund
        funds for the Order deposited by other means of payment (clauses 5.4.1- 5.4.3
        this Agreement), is carried out within 5 (Five) business days from the date of submission
        By the Buyer of the relevant application to the Seller's store, in which there was
        payment has been made.
        6.5. The goods of proper quality received by the Buyer are not exchanged or returned
        subject to.
        6.6. In case of detection of a manufacturing defect, the Buyer undertakes to confirm
        this fact is carried out by an expert examination, in case of positive confirmation
        due to the expert examination, the return of the Goods is possible no later than 10 
        (Ten) days from the date
        purchases of such Goods by the Buyer.
        
        7. Responsibility
        
        7.1. For non-fulfillment or improper fulfillment of their obligations under the 
        Agreement
        The parties are responsible in accordance with the current legislation
        7.2. The total liability of the Seller under this Agreement
        It is limited to the amount of the payment paid by the Buyer under the Contract.
        7.3. Without contradicting the above, the Seller is exempt from
        liability for violation of the terms of the Agreement, if such violation is caused by
        force majeure circumstances (force majeure) including: actions
        public authorities (including the adoption of legal acts), fire, flood,
        earthquake, other natural disasters, lack of electricity and/or disruptions
        computer network operations, strikes, civil unrest, riots, any
        other circumstances, not limited to the above, that may affect
        the Seller's performance of the Contract.
        
        8. Other conditions
        
        8.1. The Buyer undertakes to give his consent to the processing of personal data
        by confirming the Provisions of the Personal Data Privacy Policy
        the data posted on the website https://tw1.com /.
        8.2. Website https://tw1.com / and the services provided may temporarily
        partially or completely unavailable due to preventive or
        other work or for any other technical reasons.
        8.3. In case of questions and claims on the part of the Buyer, he has the right
        contact the Seller by sending an email
        support@tw1.com.
        The parties will try to resolve all disputes that arise through negotiations, if
        If an agreement is not reached, the relevant dispute must be resolved in court.
    </pre>
</div>
{% endblock %}