{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% block content %}
<div class="FAQ_cont">
    <a>Privacy policy</a>
    <pre class = "privacy_text">
        1. General provisions
        This personal data processing policy is compiled in accordance with
        the requirements of Federal Law No. 152-FZ dated 07/27/2006 "On Personal
        Data" and defines the procedure for processing personal data and measures to
        ensure the security of personal data taken by IP Sidorov Maxim Andreevich,
        OGRNIP 321302500034545 (hereinafter referred to as the Operator).
        1.1. The Operator sets as its most important goal and condition for the implementation of its
        activities the observance of human and civil rights and freedoms when processing it
        personal data, including the protection of the rights to privacy, 
        personal and family secrets.
        1.2. This Operator's policy regarding the processing of personal
        data (hereinafter referred to as the Policy) applies to all information that the Operator
        can receive about visitors to the website https://tw1.com /.
        2. Basic concepts used in Politics
        2.1. Automated processing of personal data – processing of personal
        data using computer technology;
        2.2. Blocking of personal data – temporary termination of processing
        personal data (except in cases where processing is necessary to
        clarify personal data);
        2.3. Website – a set of graphic and information materials, as well
        as computer programs and databases that ensure their availability on the Internet at
        a network address https://tw1.com /.
        2.4. Personal data information system — a set
        of personal data contained in databases and ensuring their processing
        
        information technology and technical means;
        2.5. Depersonalization of personal data — actions that result in
        it is impossible to determine, without using additional information, 
        whether personal data belongs to a specific User or
        another
        personal data subject;
        2.6. Processing of personal data – any action (operation) or a set
        of actions (operations) performed with or without
        the use of automation tools with personal data, including collection, recording,
        systematization, accumulation, storage, clarification (updating, modification),
        extraction, use, transfer (distribution, provision, access),
        depersonalization, blocking, deletion, destruction of personal data; 2.7.
        Operator – a state body, municipal body, legal entity or
        individual, independently or jointly with other persons organizing and
        (or) processing personal data, as well as determining the purposes
        of processing personal data, the composition of personal data to be
        processed, actions (operations) 2.8.
        Personal data – any information related directly or indirectly to
        a specific or identifiable User of the website
        https://tw1.com /; 2.9. User – any visitor to the website
        https://tw1.com /; 2.10. Provision of personal data – actions
        aimed at disclosure of personal data to a certain person or
        a certain circle of persons; 2.11. Dissemination of personal data – any
        actions aimed at disclosure of personal data to an indefinite circle
        of persons (transfer of personal data) or familiarization with personal data
        of an unlimited number of persons, including disclosure of personal data data in
        the media, placement in
        information and telecommunication networks or providing access to
        personal data in any other way;
        2.12. Cross–border transfer of personal data - transfer of personal
        data to the territory of a foreign state to an authority of a foreign
        state, a foreign individual or a foreign legal entity;
        2.13. Destruction of personal data – any actions as a result of which
        personal data is permanently destroyed with the inability to further
        restore the content of personal data in the information system
        personal data and (or) the material carriers of personal
        data are destroyed.
        3. The Operator may process the following personal data
        The user
        3.1. Surname, first name, patronymic;
        3.2. Email address;
        3.3. Phone numbers;
        3.4. The address of the actual place of residence or at the place of stay; 3.5. The
        site also collects and processes impersonal data about visitors (including
        
        "cookies") through the services of Internet statistics (Yandex Metric and Google
        
        3.6. The above data are further combined in the text of the Policy by a common
        the concept of Personal data.
        
        4. Purposes of personal data processing
        4.1. The purpose of processing the User's personal data is to inform
        The User by sending emails; sending
        orders to the User at the place of residence or at the place of stay. 4.2. Also
        The Operator has the right to send notifications to the User about new products and
        services, special offers and various events. The User
        can always refuse to receive information messages by sending
        an email to the Operator support@tw1.com with a note
        "Refusal of notifications about new products and services and special
        offers." 4.3. Depersonalized User data collected through
        Internet statistics services are used to collect information about actions
        Users on the site, improving the quality of the site and its content.
        5. Legal grounds for processing personal data
        5.1. The Operator processes the User's personal data only if they
        are filled in and/or sent by the User independently through special
        forms located on the website https://tw1.com /. Filling in
        by submitting the appropriate forms and/or sending your personal data to the Operator,
        The User agrees with this Policy.
        6. The procedure for the collection, storage, transfer and other types
        of personal data processing
        The security of personal data processed by the Operator
        is ensured through the implementation of legal, organizational and technical measures
        necessary to fully comply with the requirements of current
        legislation in the field of personal data protection.
        6.1. The Operator ensures the safety of personal data and accepts all
        possible measures to exclude access to the personal data of unauthorized
        persons.
        6.2. The User's personal data will never, under any circumstances, be
        transferred to third parties, except in cases related to the implementation
        of current legislation.
        6.3. In case of inaccuracies in personal data, the User can
        update them independently by sending a notification to the Operator
        to the Operator's e-mail address support@tw1.com marked
        "Updating of personal data".
        
        6.4. The period of processing of personal data is unlimited. The User
        can withdraw his consent to the processing of personal data at any time
        by sending a notification to the Operator via e-mail to the Operator's e
        -mail address support@tw1.com marked "Withdrawal of consent to the
        processing of personal data".
        
        7. Cross-border transfer of personal data
        7.1. Before the start of the cross-border transfer of personal
        data, the Operator is obliged to ensure that a foreign state enters the territory of
        which is supposed to transfer personal data,
        ensures reliable protection of the rights of personal data subjects. 7.2.
        The cross-border transfer of personal data on the territory of foreign
        states that do not meet the above requirements may be carried
        out only if the personal data subject agrees in writing
        to the cross-border transfer of his personal data and/or the execution
        of the contract to which the personal data subject is a party.
        8. Final provisions
        8.1. The User can receive any clarifications on
        issues of interest related to the processing of his personal data by contacting
        To the operator via e-mail support@tw1.com
        8.2. This document will reflect any changes
        to the Operator's personal data processing policy. The policy is valid indefinitely until it is replaced by a
        new version.
        8.3. The current version of the Policy is freely available on the Internet
        at https://tw1.com/privacy .
    </pre>
</div>
{% endblock %}