{% extends "base.html" %}
{% block title %}Password{% endblock %}
{% block content %}
<div class="profile_main_contener">
    <nav>
        <button class="toggle-button">Close panel</button>
        <ul>
            <li onclick="window.location.href='/profile/common'">General</li>
            <li class="active_li" onclick="window.location.href='/profile/password'">Password</li>
            <li onclick="window.location.href='/profile/orders'">Orders</li>
            <li onclick="window.location.href='/logout'">Log out</li>
        </ul>
    </nav>
    <div class="panel">
        <form action="/profile/password" method="POST">
            <table>
                <tr>
                    <td>Old password</td>
                    <td style = "text-align: right;">
                        <input                 
                            type="text"
                            id="old_password"
                            name="old_password"
                            placeholder="Old pas"
                        >
                    </td>
                </tr>
                <tr>
                    <td>New password</td>
                    <td style = "text-align: right;">
                        <input                 
                            type="password"
                            id="new_password"
                            name="new_password"
                            placeholder="New pas"
                        >
                    </td>
                </tr>
                <tr>
                    <td>Confirm password</td>
                    <td style = "text-align: right;">
                        <input                 
                            type="password"
                            id="conf_new_password"
                            name="conf_new_password"
                            placeholder="Confirm"
                        >
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style = "aligh-items: center;">
                        <button type = "submit" class = "blue_buttom">Change password</button>
                    </td>
                </tr>
            </table>      
        <form>
    </div>
</div>
{% endblock %}

